.contact-content{
    height: 100vh;
    display: block;
    position: relative;
    overflow: hidden;
    padding: 9px;
    /* background-color:rgb(46, 7, 7);  */
    
    }
    .contact-content::after{
        content: "";
        top:0;
        background-image: url('../image/blog1.jpg');
    height: inherit;
        width: 100%;
        opacity: 0.2;
        position: absolute;
        z-index: -1;
        overflow: hidden;
         
    
    }